body{
  font-family: Arial, sans-serif;
line-height: 1.6;
margin: 0;
padding: 0;
background:linear-gradient(135deg, #f0d8a8, #9b1c1c); /* Light sky blue */
color: #333;
}

.about-us-header {
  text-align: center;
  margin-bottom: 30px;
}

.developer-container {
  text-align: center;
}

.developer-container h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.about-us-team {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.developer {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  margin: 10px;
  text-align: center;
}

.developer img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.developer h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.developer p {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
